In [22]:
## preprocessing.py imports
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import FunctionTransformer
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn import set_config
import joblib
import xgboost
import multipart

#custom 
from smackbang.preprocess import DateFormatter, DateEncoder, TimeFeaturesEncoder, haversine_vectorized, DistanceTransformer, duration_process, set_preproc_pipeline
from smackbang.predict import process_matches

set_config(display='diagram')

In [23]:
import requests
import pandas as pd
from requests.structures import CaseInsensitiveDict

url = "https://smackbang-image-w76hg6ifha-ew.a.run.app/matches"

headers = CaseInsensitiveDict()
headers["accept"] = "application/json"

origin_one = 'BOM'
origin_two = 'DEL'
departure_date = '01/04/2022'
continent='AS'

query_string = {'origin_one':origin_one, 'origin_two':origin_two, 'departure_date':departure_date, 
                'continent':continent, 'return_date':'', 'currency':'USD'}

result = requests.get(url, headers=headers, params=query_string).json()
                
matches_df = pd.DataFrame(result)

In [24]:
matches_df

,price_Mumbai,price_New Delhi,duration_Mumbai,duration_New Delhi,total_stops_Mumbai,total_stops_New Delhi,distance_Mumbai,distance_New Delhi,local_departure_Mumbai,local_departure_New Delhi,local_arrival_Mumbai,local_arrival_New Delhi,deep_link_Mumbai,deep_link_New Delhi,combined_price_,combined_duration_,lat_,lon_
Hyderabad,52,75,1.25,2.08,0,0,623.67,1269.10,2022-04-01T06:15:00.000Z,2022-04-01T01:50:00.000Z,2022-04-01T07:30:00.000Z,2022-04-01T04:00:00.000Z,https://www.kiwi.com/deep?from=BOM&to=HYD&flig...,https://www.kiwi.com/deep?from=DEL&to=HYD&flig...,127,3.33,17.231318,78.429855
Amritsar,92,53,2.17,1.00,0,0,1418.18,414.35,2022-04-01T05:55:00.000Z,2022-04-01T05:20:00.000Z,2022-04-01T08:25:00.000Z,2022-04-01T06:25:00.000Z,https://www.kiwi.com/deep?from=BOM&to=ATQ&flig...,https://www.kiwi.com/deep?from=DEL&to=ATQ&flig...,145,3.17,31.709600,74.797302
Kolkata,89,76,2.50,2.08,0,0,1667.30,1314.12,2022-04-01T05:05:00.000Z,2022-04-01T03:00:00.000Z,2022-04-01T07:45:00.000Z,2022-04-01T05:05:00.000Z,https://www.kiwi.com/deep?from=BOM&to=CCU&flig...,https://www.kiwi.com/deep?from=DEL&to=CCU&flig...,165,4.58,22.654699,88.446701
Chennai,75,92,1.83,2.83,0,0,1035.10,1762.51,2022-04-01T00:20:00.000Z,2022-04-01T01:50:00.000Z,2022-04-01T02:10:00.000Z,2022-04-01T07:00:00.000Z,https://www.kiwi.com/deep?from=BOM&to=MAA&flig...,https://www.kiwi.com/deep?from=DEL&to=MAA&flig...,167,4.66,12.990005,80.169296
Kochi,77,98,1.92,2.92,0,0,1064.97,2051.15,2022-04-01T00:20:00.000Z,2022-04-01T01:50:00.000Z,2022-04-01T07:30:00.000Z,2022-04-01T07:20:00.000Z,https://www.kiwi.com/deep?from=BOM&to=COK&flig...,https://www.kiwi.com/deep?from=DEL&to=COK&flig...,175,4.84,10.152000,76.401901
Thiruvananthapuram,78,105,2.25,3.25,0,0,1259.06,2235.79,2022-04-01T00:20:00.000Z,2022-04-01T08:10:00.000Z,2022-04-01T06:55:00.000Z,2022-04-01T11:25:00.000Z,https://www.kiwi.com/deep?from=BOM&to=TRV&flig...,https://www.kiwi.com/deep?from=DEL&to=TRV&flig...,183,5.50,8.482120,76.920097
Mal√©,119,138,2.92,4.00,0,0,1659.84,2739.53,2022-04-01T03:10:00.000Z,2022-04-01T05:30:00.000Z,2022-04-01T08:15:00.000Z,2022-04-01T13:00:00.000Z,https://www.kiwi.com/deep?from=BOM&to=MLE&flig...,https://www.kiwi.com/deep?from=DEL&to=MLE&flig...,257,6.92,4.191830,73.529099
Bangkok,132,162,4.50,4.08,0,0,3033.95,2951.54,2022-04-01T08:30:00.000Z,2022-04-01T05:35:00.000Z,2022-04-01T14:40:00.000Z,2022-04-01T11:20:00.000Z,https://www.kiwi.com/deep?from=BOM&to=BKK&flig...,https://www.kiwi.com/deep?from=DEL&to=BKK&flig...,294,8.58,13.681100,100.747002
Colombo,169,151,2.42,3.50,0,0,1527.55,2398.54,2022-04-01T03:10:00.000Z,2022-04-01T03:30:00.000Z,2022-04-01T05:35:00.000Z,2022-04-01T07:00:00.000Z,https://www.kiwi.com/deep?from=BOM&to=CMB&flig...,https://www.kiwi.com/deep?from=DEL&to=CMB&flig...,320,5.92,7.180760,79.884102
Singapore,199,149,5.50,6.00,0,0,3925.14,4162.89,2022-04-01T08:50:00.000Z,2022-04-01T05:55:00.000Z,2022-04-01T19:50:00.000Z,2022-04-01T18:10:00.000Z,https://www.kiwi.com/deep?from=BOM&to=SIN&flig...,https://www.kiwi.com/deep?from=DEL&to=SIN&flig...,348,11.50,1.350190,103.994003
Doha,189,190,3.33,3.75,0,0,2293.81,2551.94,2022-04-01T04:55:00.000Z,2022-04-01T04:30:00.000Z,2022-04-01T06:10:00.000Z,2022-04-01T05:45:00.000Z,https://www.kiwi.com/deep?from=BOM&to=DOH&flig...,https://www.kiwi.com/deep?from=DEL&to=DOH&flig...,379,7.08,25.273056,51.608056
Abu Dhabi,221,168,2.92,3.33,0,0,1973.07,2279.88,2022-04-01T04:35:00.000Z,2022-04-01T01:50:00.000Z,2022-04-01T06:05:00.000Z,2022-04-01T07:00:00.000Z,https://www.kiwi.com/deep?from=BOM&to=AUH&flig...,https://www.kiwi.com/deep?from=DEL&to=AUH&flig...,389,6.25,24.433001,54.651100
Dubai,192,206,2.92,3.42,0,0,1916.18,2168.99,2022-04-01T00:05:00.000Z,2022-04-01T01:50:00.000Z,2022-04-01T02:00:00.000Z,2022-04-01T09:10:00.000Z,https://www.kiwi.com/deep?from=BOM&to=DXB&flig...,https://www.kiwi.com/deep?from=DEL&to=DXB&flig...,398,6.34,25.252800,55.364399
Muscat,222,290,2.58,3.33,0,0,1592.27,1959.02,2022-04-01T04:35:00.000Z,2022-04-01T04:45:00.000Z,2022-04-01T08:10:00.000Z,2022-04-01T07:00:00.000Z,https://www.kiwi.com/deep?from=BOM&to=MCT&flig...,https://www.kiwi.com/deep?from=DEL&to=MCT&flig...,512,5.91,23.593300,58.284401
Kathmandu,413,103,11.25,1.75,1,0,1594.06,816.07,2022-04-01T21:50:00.000Z,2022-04-01T10:40:00.000Z,2022-04-02T09:20:00.000Z,2022-04-01T12:40:00.000Z,https://www.kiwi.com/deep?from=BOM&to=KTM&flig...,https://www.kiwi.com/deep?from=DEL&to=KTM&flig...,516,13.00,27.696600,85.359100

In [25]:
city_one = 'Mumbai'
city_two = 'New Delhi'

In [26]:
df1_formatted, df2_formatted = process_matches(matches_df,city_one,city_two)

In [27]:
# export to csv
df1_formatted.to_csv('../data/df1.csv')

In [28]:
# front_end code snippet 

data_processed = open('../data/df1.csv')

url = 'http://127.0.0.1:8000/predict'
files = {
        'file': ('data_processed.csv', data_processed, 'multipart/form-data', {
            'Expires': '0'
        })
    }
response = requests.post(url, files=files)

In [29]:
pd.DataFrame(response.json())

           preds
0    3041.806152
1    4236.287109
2    4942.849121
3    3819.660400
4    4024.006592
5    3456.107422
6    4882.307617
7    5596.037598
8    4590.134277
9    9834.746094
10   4499.143555
11   4465.098145
12   4775.425293
13   4785.988281
14  10742.326172