# Matches End Point

Takes in params:
 - origin_one
 - origin_two
 - departure_date
 - contintent  (for destination)
 - currency
 
 and returns best common destinations sorted by price

In [2]:
import numpy as np
import pandas as pd
from smackbang.matches import get_matches
%load_ext autoreload
%autoreload 2

In [3]:
matches_df = get_matches(origin_one='NRT', origin_two='SYD', departure_date='01/04/2022', continent='AS', return_date='', currency='USD')

In [14]:
matches_df.reset_index().columns

MultiIndex([(           'cityTo',       ''),
            (            'price', 'Sydney'),
            (            'price',  'Tokyo'),
            (         'duration', 'Sydney'),
            (         'duration',  'Tokyo'),
            (      'total_stops', 'Sydney'),
            (      'total_stops',  'Tokyo'),
            (         'distance', 'Sydney'),
            (         'distance',  'Tokyo'),
            (  'local_departure', 'Sydney'),
            (  'local_departure',  'Tokyo'),
            (    'local_arrival', 'Sydney'),
            (    'local_arrival',  'Tokyo'),
            (        'deep_link', 'Sydney'),
            (        'deep_link',  'Tokyo'),
            (   'combined_price',       ''),
            ('combined_duration',       ''),
            (              'lat',       ''),
            (              'lon',       '')],
           names=[None, 'cityFrom'])

In [17]:
matches_df.columns = ['_'.join(col) for col in matches_df.columns.values]

In [18]:
matches_df.columns

Index(['price_Sydney', 'price_Tokyo', 'duration_Sydney', 'duration_Tokyo',
       'total_stops_Sydney', 'total_stops_Tokyo', 'distance_Sydney',
       'distance_Tokyo', 'local_departure_Sydney', 'local_departure_Tokyo',
       'local_arrival_Sydney', 'local_arrival_Tokyo', 'deep_link_Sydney',
       'deep_link_Tokyo', 'combined_price_', 'combined_duration_', 'lat_',
       'lon_'],
      dtype='object')

In [24]:
result  = matches_df.to_dict(orient='dict')

In [25]:
pd.DataFrame(result)

,price_Sydney,price_Tokyo,duration_Sydney,duration_Tokyo,total_stops_Sydney,total_stops_Tokyo,distance_Sydney,distance_Tokyo,local_departure_Sydney,local_departure_Tokyo,local_arrival_Sydney,local_arrival_Tokyo,deep_link_Sydney,deep_link_Tokyo,combined_price_,combined_duration_,lat_,lon_
Bangkok,352,412,9.83,6.50,0,0,7523.15,4649.75,2022-04-01T07:05:00.000Z,2022-04-01T10:20:00.000Z,2022-04-01T16:40:00.000Z,2022-04-01T16:30:00.000Z,https://www.kiwi.com/deep?from=SYD&to=BKK&flig...,https://www.kiwi.com/deep?from=NRT&to=BKK&flig...,764,16.33,13.681100,100.747002
Hanoi,389,420,18.00,6.33,1,0,7798.15,3723.95,2022-04-01T13:25:00.000Z,2022-04-01T09:15:00.000Z,2022-04-02T11:25:00.000Z,2022-04-01T13:35:00.000Z,https://www.kiwi.com/deep?from=SYD&to=HAN&flig...,https://www.kiwi.com/deep?from=NRT&to=HAN&flig...,809,24.33,21.221201,105.806999
Osaka,743,80,12.33,1.50,1,0,7824.93,462.63,2022-04-01T21:45:00.000Z,2022-04-01T07:00:00.000Z,2022-04-02T08:05:00.000Z,2022-04-01T08:35:00.000Z,https://www.kiwi.com/deep?from=SYD&to=ITM&flig...,https://www.kiwi.com/deep?from=NRT&to=ITM&flig...,823,13.83,34.785500,135.438004
Kuala Lumpur,292,544,8.83,14.67,0,1,6591.75,5414.54,2022-04-01T06:25:00.000Z,2022-04-01T19:00:00.000Z,2022-04-01T15:35:00.000Z,2022-04-02T08:40:00.000Z,https://www.kiwi.com/deep?from=SYD&to=KUL&flig...,https://www.kiwi.com/deep?from=NRT&to=KUL&flig...,836,23.50,2.745580,101.709999
Fukuoka,745,104,13.08,2.08,1,0,7823.25,940.88,2022-04-01T21:45:00.000Z,2022-04-01T07:10:00.000Z,2022-04-02T08:50:00.000Z,2022-04-01T09:15:00.000Z,https://www.kiwi.com/deep?from=SYD&to=FUK&flig...,https://www.kiwi.com/deep?from=NRT&to=FUK&flig...,849,15.16,33.585899,130.451004
Taipei,456,426,21.08,3.67,1,0,7293.46,2183.46,2022-04-01T19:05:00.000Z,2022-04-01T13:50:00.000Z,2022-04-02T13:10:00.000Z,2022-04-01T16:30:00.000Z,https://www.kiwi.com/deep?from=SYD&to=TPE&flig...,https://www.kiwi.com/deep?from=NRT&to=TPE&flig...,882,24.75,25.077700,121.233002
Ho Chi Minh City,448,444,8.92,9.08,0,1,6853.68,4388.16,2022-04-01T07:00:00.000Z,2022-04-01T09:15:00.000Z,2022-04-01T16:10:00.000Z,2022-04-01T18:15:00.000Z,https://www.kiwi.com/deep?from=SYD&to=SGN&flig...,https://www.kiwi.com/deep?from=NRT&to=SGN&flig...,892,18.00,10.818800,106.652000
Singapore,271,628,8.25,7.25,0,0,6301.43,5363.07,2022-04-01T08:15:00.000Z,2022-04-01T19:00:00.000Z,2022-04-01T16:50:00.000Z,2022-04-02T01:15:00.000Z,https://www.kiwi.com/deep?from=SYD&to=SIN&flig...,https://www.kiwi.com/deep?from=NRT&to=SIN&flig...,899,15.50,1.350190,103.994003
Jakarta,513,491,11.00,10.75,1,1,5525.02,5845.38,2022-04-01T12:45:00.000Z,2022-04-01T10:20:00.000Z,2022-04-01T19:45:00.000Z,2022-04-01T19:05:00.000Z,https://www.kiwi.com/deep?from=SYD&to=CGK&flig...,https://www.kiwi.com/deep?from=NRT&to=CGK&flig...,1004,21.75,-6.125570,106.655998
Chiang Mai,502,504,26.92,10.58,1,1,8064.84,4471.46,2022-04-01T11:00:00.000Z,2022-04-01T12:00:00.000Z,2022-04-02T11:45:00.000Z,2022-04-01T20:35:00.000Z,https://www.kiwi.com/deep?from=SYD&to=CNX&flig...,https://www.kiwi.com/deep?from=NRT&to=CNX&flig...,1006,37.50,18.766800,98.962601
Seoul,740,277,22.67,2.50,1,0,8351.95,1258.30,2022-04-01T19:05:00.000Z,2022-04-01T12:00:00.000Z,2022-04-02T15:45:00.000Z,2022-04-01T14:40:00.000Z,https://www.kiwi.com/deep?from=SYD&to=ICN&flig...,https://www.kiwi.com/deep?from=NRT&to=ICN&flig...,1017,25.17,37.558300,126.791000
Manila,480,548,8.33,5.00,0,0,6269.74,3054.20,2022-04-01T13:25:00.000Z,2022-04-01T13:10:00.000Z,2022-04-01T18:50:00.000Z,2022-04-01T17:30:00.000Z,https://www.kiwi.com/deep?from=SYD&to=MNL&flig...,https://www.kiwi.com/deep?from=NRT&to=MNL&flig...,1028,13.33,14.508600,121.019997
Dhaka,576,474,34.08,21.25,1,1,9092.54,4951.96,2022-04-01T16:00:00.000Z,2022-04-01T12:00:00.000Z,2022-04-02T21:05:00.000Z,2022-04-02T12:10:00.000Z,https://www.kiwi.com/deep?from=SYD&to=DAC&flig...,https://www.kiwi.com/deep?from=NRT&to=DAC&flig...,1050,55.33,23.843347,90.397783
Phnom Penh,542,558,15.83,11.58,1,1,7045.67,4474.20,2022-04-01T16:00:00.000Z,2022-04-01T13:10:00.000Z,2022-04-02T10:00:00.000Z,2022-04-01T22:55:00.000Z,https://www.kiwi.com/deep?from=SYD&to=PNH&flig...,https://www.kiwi.com/deep?from=NRT&to=PNH&flig...,1100,27.41,11.546600,104.844002
Kolkata,683,451,33.00,14.00,1,1,9150.55,5190.27,2022-04-01T19:05:00.000Z,2022-04-01T11:55:00.000Z,2022-04-02T22:35:00.000Z,2022-04-01T22:25:00.000Z,https://www.kiwi.com/deep?from=SYD&to=CCU&flig...,https://www.kiwi.com/deep?from=NRT&to=CCU&flig...,1134,47.00,22.654699,88.446701
Chennai,662,475,32.42,15.17,1,1,9137.84,6498.72,2022-04-01T19:05:00.000Z,2022-04-01T11:55:00.000Z,2022-04-02T22:00:00.000Z,2022-04-01T23:35:00.000Z,https://www.kiwi.com/deep?from=SYD&to=MAA&flig...,https://www.kiwi.com/deep?from=NRT&to=MAA&flig...,1137,47.59,12.990005,80.169296
Abu Dhabi,585,562,42.33,11.75,2,0,12074.63,8097.35,2022-04-01T13:25:00.000Z,2022-04-01T13:20:00.000Z,2022-04-03T00:45:00.000Z,2022-04-01T23:05:00.000Z,https://www.kiwi.com/deep?from=SYD&to=AUH&flig...,https://www.kiwi.com/deep?from=NRT&to=AUH&flig...,1147,54.08,24.433001,54.651100
Istanbul,556,608,30.67,19.25,2,1,14934.27,8980.16,2022-04-01T13:25:00.000Z,2022-04-01T12:00:00.000Z,2022-04-02T12:05:00.000Z,2022-04-02T05:30:00.000Z,https://www.kiwi.com/deep?from=SYD&to=IST&flig...,https://www.kiwi.com/deep?from=NRT&to=IST&flig...,1164,49.92,40.976898,28.814600